---
import Link from '../../components/Link.astro';
import Timezone from '../../components/Timezone.astro';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <main class="text-base sm:grid grid-cols-[192px,_minmax(50%,_65ch)] gap-y-6 w-max py-12">
        <h1 class="section-title animate-appear" style="--stagger: 1">
          Kevin Gonzalez
        </h1>
        <div class="flex items-center justify-between">
          <address class="text-base animate-appear flex flex-col" style="--stagger: 1">
            <Link href="mailto:heykevingonzalez@gmail.com">heykevingonzalez@gmail.com</Link>
              <Link href="tel:+526567928431">+526567928431</Link>
              <Link href="https://www.quebin.me">quebin.me</Link>
                <Link href="https://www.github.com/hekatx">www.github.com/hekatx</Link>
          </address>

          <img src="" alt="A photography of Kevin Gonzalez"/>
        </div>

        <h1 class="section-title animate-appear" style="--stagger: 2">
          About me
        </h1>
        <div class="animate-appear" style="--stagger: 2">
          <p class="text-base">
          Hola, Vital team! I'm Kevin Gonzalez, a developer currently living in
          Chihuahua, Mexico. Just to make sure we start checking off some
          requirements, here's a comparison of our timezones:
          </p>

          <div class="flex items-start my-6 gap-12">
            <Timezone timezone="America/Ciudad_Juarez" caption="my timezone" />
            <Timezone caption="yours" />
          </div>

          <p>
            Sometimes my timezone can be GTM-7 but I'm committed to adjusting
            my schedule as needed to meet project demands and deadlines. I
            understand the demands of a startup environment are different
            and I'm prepared to work outside of standard hours when necessary.
          </p>
        </div>

        <h1 class="section-title animate-appear" style="--stagger: 3">
          Background
        </h1>
        <div class="animate-appear" style="--stagger: 3">
          <p>
            Currently I'm working as Software Engineer for Capgemini and
            through them I work for Coca-Cola KOF. Here, our team was tasked
            with making a rewrite of their main product: Juntos+. This was more
            of an experiment that has expanded to serve 1 million users over 7
            countries, encompassing both web and React Native mobile
            applications.
          </p>
          <p>
            Notably, this successful rewrite was entirely developer-led,
            operating without traditional project management, QA, or scrum
            master roles. This experience has honed my ability to work
            autonomously and take ownership of projects from conception to
            delivery.
          </p>
          Some of the improvements we've made in this rewrite are:
          <ul class="list-disc list-inside">
            <li>
              Integrated code-generation to produce custom React Hooks to interact with REST APIs via OpenApi specs.
            </li>
            <li>
              Reduced frame-drops in some sections of the app by moving
              framer-motion animations to CSS and <Link
              href="https://www.developer.mozilla.org/en-US/docs/Web/Web_Animations_API">WAAPI</Link>
            </li>
            <li>
              Introduction of integration testing, which has totally reduced the amount of regressions on each release
            </li>
            <li>
              Creation of an UI components library that accelerated prototyping of new projects
            </li>
          </ul>
          <aside class="mt-3">
            P.S. I've worked remotely during my entire career so I know how to
            communicate effectively on async teams and have honed my
            self-discipline to ensure I don't get distracted during work hours. 
          </aside>
        </div>

        <h1 class="section-title animate-appear" style="--stagger: 4">
          Hard skills
        </h1>
        <div class="animate-appear" style="--stagger: 4">
          <p>
            I consider myself pretty skilled at React. In fact, I've read the
            docs several times and I keep up with their new features by reading
            their blogs from time to time. 
          </p>

          <p>
            I know my way around almost all the APIs React provides, such as
            <mark>useSyncExternalStore</mark>, hooks, when to reach for
            <mark>useEffect</mark> and when not to, class and functional
            components, uses of the <mark>key</mark> prop beyond the usual
            <mark>array.map</mark>, and will even reach for context or portals
            when a feature requires it.
          </p>

          <p>
            Usually my prefered stack varies depending on the situation. SPAs?
            Vite, react-router, react-query and tailwindcss covers almost all
            my needs. I'm also experienced with Next, not an expert but I know
            almost all the caveats that one should be careful of, be it version
            12 or 13+
          </p>

          <p>
            My worked is focused on the frontend but that doesn't mean I'm
            ignorant of the rest of the stack, on the backend I: worked with
            microservices in Go, did some crazy joins in SQL and even wrote
            new GraphQL resolvers on Node.js. I'm not as skilled as I'm on the front
            but I'm not afraid of moving across the stack.
          </p>
        </div>

        <h1 class="section-title animate-appear" style="--stagger: 5">
          Soft skills
        </h1>
        <ul class="list-disc list-inside animate-appear" style="--stagger: 5">
          <li>
            I can manage myself on autonomous environments, driving projects
            and features from conception to delivery.
          </li>
          <li>
            Learning new tech is not an issue for me. A new language? new
            library? no problem, give me 1 week and I'll build something
            decent. Give me 2 and I can build something more polished.
          </li>
          <li>
            Despite English being my second language, I consider myself good at
            communicating effectively, both in written and verbal manner.
          </li>
          <li>
            For me, teamwork isn't just a buzzword, it's a powerful tool for innovation and
            personal development.
            I actively seek out my colleagues insights, believing that the
            best solutions often emerge from a looking at the problem from all
            the possible viewpoints.
          </li>
        </ul>

        <h1 class="section-title animate-appear" style="--stagger: 6">
          What can we do together?
        </h1>
        <ul class="list-disc list-inside animate-appear" style="--stagger: 6">
          <li>
            I can manage myself on autonomous environments, driving projects
            and features from conception to delivery.
          </li>
          <li>
            Learning new tech is not an issue for me. A new language? new
            library? no problem, give me 1 week and I'll build something
            decent. Give me 2 and I can build something more polished.
          </li>
          <li>
            Despite English being my second language, I consider myself good at
            communicating effectively, both in written and verbal manner.
          </li>
          <li>
            For me, teamwork isn't just a buzzword, it's a powerful tool for innovation and
            personal development.
            I actively seek out my colleagues insights, believing that the
            best solutions often emerge from a looking at the problem from all
            the possible viewpoints.
          </li>
        </ul>

        <h1 class="section-title animate-appear" style="--stagger: 7">
          Outside of work, I
        </h1>

        <ul class="list-disc list-inside animate-appear" style="--stagger: 7">
          <li>Keep learning. Currently I'm reading <Link href="/">Elixir in action</Link></li>
          <li><Link href="https://www.instagram.com/oneself">Paint</Link></li>
          <li>Watch one piece with my dad</li>
          <li>Try to visit all coffee shops in my city with my girlfriend</li>
        </ul>

    </main>
	</body>
</html>
<style>
  mark {
    background: #e2e8f0;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 0.9rem;
  }
  .section-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-wrap: balance;
    background-image: linear-gradient(to right, rgb(7, 81, 68) 0%, rgb(0, 43, 35) 100%);
    background-clip: text;
    color: transparent;
    margin-top: 1rem;
  }

  @media (min-width: 640px) {
    .section-title {
      font-size: 1.5rem /* 24px */;
      line-height: 2rem /* 32px */;
      margin-top: 0;
    }
  }
  li {
    font-size: 16px;
  }
  p {
    margin-bottom: 0.5rem;
  }
  aside {
    border-color: #14b8a6;
    background: #f0fdfa;  
    padding: 0.75rem; 
    border-left-width: 4px; 
    max-width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
  }

</style>
