@juntos:registry=https://pkgs.dev.azure.com/JUNTOSPLUS-INFRA/d65195e6-6293-482d-8fdf-5871ef229166/_packaging/J4-FRONT-CORE/npm/registry/
registry=https://registry.npmjs.org/

;; begin auth token
//pkgs.dev.azure.com/JUNTOSPLUS-INFRA/d65195e6-6293-482d-8fdf-5871ef229166/_packaging/J4-FRONT-CORE/npm/registry/:username=JUNTOSPLUS-INFRA
//pkgs.dev.azure.com/JUNTOSPLUS-INFRA/d65195e6-6293-482d-8fdf-5871ef229166/_packaging/J4-FRONT-CORE/npm/registry/:_password=WJxN2h3cDR5d2g2bzR2dmxsY3BmMzdvb3lkZGZ4eXN2dXcyYWZzeWxxYzZ0c255eXJzYQ===
//pkgs.dev.azure.com/JUNTOSPLUS-INFRA/d65195e6-6293-482d-8fdf-5871ef229166/_packaging/J4-FRONT-CORE/npm/registry/:email=kevin.a.gonzalez@capgemini.com
//pkgs.dev.azure.com/JUNTOSPLUS-INFRA/d65195e6-6293-482d-8fdf-5871ef229166/_packaging/J4-FRONT-CORE/npm/:username=JUNTOSPLUS-INFRA
//pkgs.dev.azure.com/JUNTOSPLUS-INFRA/d65195e6-6293-482d-8fdf-5871ef229166/_packaging/J4-FRONT-CORE/npm/:_password=WJxN2h3cDR5d2g2bzR2dmxsY3BmMzdvb3lkZGZ4eXN2dXcyYWZzeWxxYzZ0c255eXJzYQ===
//pkgs.dev.azure.com/JUNTOSPLUS-INFRA/d65195e6-6293-482d-8fdf-5871ef229166/_packaging/J4-FRONT-CORE/npm/:email=kevin.a.gonzalez@capgemini.com
; end auth token
