:root {
  --container-width: 43rem;
  --wide-content-width: min(var(--container-width), 100vw);
}

.paragraph {
  @apply max-w-prose p-2 -m-2;

  line-height: 1.75;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.paragraph:has(img) {
    overflow-x: visible;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.paragraph a {
    white-space: nowrap;
    max-width: var(--container-width);
}
