---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import LatestBlogsTable from '../components/LatestBlogsTable.astro';
import Footer from '../components/Footer.astro';
import { Paragraph } from '../components/prose/Paragraph';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Command } from '../components/Command';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="grid sm:grid-cols-2 grid-cols-1 gap-x-6 py-6 gap-y-6">
      <figure class="row-span-auto">
        <img
          class="row-span-2"
          src="https://i.pinimg.com/564x/b5/44/6f/b5446ffc126cd83ed86c7580d8108078.jpg"
          alt="A self portrait of the site's owner (Kevin), painted digitally in a traditional style"
        />
        <figcaption class="text-sm text-slate-600 mt-2">Latest self-portrait</figcaption>
      </figure>
      <div class="row-start-1 row-end-2 sm:row-span-auto">
        <p class="animate-appear" style="--stagger: 0;">
          Hola! I'm Kevin Gonzalez, currently working as Software Engineer at <a href="https://www.capgemini.com/" target="_blank">Capgemini</a>
        </p>
        <p class="animate-appear" style="--stagger: 1;">
          My work is focused on crafting interfaces that excel in both form and function and building reliable systems
        </p>
        <p class="animate-appear" style="--stagger: 2;">
          Usually spend my days writing and painting
        </p>
        <LatestBlogsTable />
      </div>
    </main>
	</body>
</html>
