---
// import { CommandMenu } from './Command';
---

<header>
	<nav class="py-6 flex items-center">
    <a
      class="font-bold text-sm relative"
      href="/"
    >
    <span class="peer">
      kevin gonzalez
    </span>
      <span class="peer-hover:opacity-100 group-focus-within:opacity-100 opacity-0 absolute block transition-opacity text-xs">
        (quebin)
      </span>
      <span class="sr-only">Home</span>
    </a>
    <div class="flex items-center justify-between gap-6 ml-auto">
      <a
        class="text-sm font-semibold text-slate-600 ml-auto flex items-center blog-link hover:text-slate-500 transition-colors"
        href="/"
      >
        Blog
      </a>
      <a
        class="text-sm font-semibold text-slate-600 ml-auto flex items-center blog-link hover:text-slate-500 transition-colors"
        href="/"
      >
        Experiments
      </a>
    </div>
    {
    // <CommandMenu client:load />
    }
  </nav>
</header>
