---
import HeaderLink from './HeaderLink.astro';
import { CommandMenu } from './Command';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="py-6 flex items-center">
    <a
      class="font-bold text-sm"
      href="/"
    >
      (quebin)
      <span class="sr-only">Home</span>
    </a>
    <div class="flex items-center justify-between gap-6 ml-auto">
      <a
        class="text-sm font-semibold text-slate-600 ml-auto flex items-center blog-link hover:text-slate-500 transition-colors"
        href="/"
      >
        Blog
      </a>
      <a
        class="text-sm font-semibold text-slate-600 ml-auto flex items-center blog-link hover:text-slate-500 transition-colors"
        href="/"
      >
        Experiments
      </a>
    </div>
    <CommandMenu client:load />
  </nav>
</header>
