---
import { getCollection } from 'astro:content';
import { INTL_SHORT_DATE } from '../consts';

const allPosts = await getCollection('blog');
const latestPosts = allPosts.slice(0, 3);

const getDate = (post) => post.data.pubDate.getFullYear();
const posts = latestPosts;
---
<div class="group col-span-2">
  <table class="blog-table" style="--stagger: 3;">
    <thead>
      <tr>
        <th colspan="2" class="!text-start">Posts</th>
      </tr>
    </thead>
    <tbody>
      {posts.map(post => (
        <tr>
          <td>
            <a href={`/blog/${post.slug}`}>
              {post.data.title}
            </a>
          </td>
          <td class="text-end">
            <a href={`/blog/${post.slug}`} tabindex="-1">
              {INTL_SHORT_DATE.format(post.data.pubDate)}
            </a>
          </td>
        </tr>
      ))}
    </tbody>
  </table>
</div>
